@model IEnumerable<AnimeShop.Models.Sepet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="container">@User.Identity.Name</h2>
<h3 class="container">Sepetim</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Ürün İsmi</td>
            <td>Fiyatı</td>
            <td>Miktarı</td>
            <td>Toplam Fiyat</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Urun.Ad</td>
                <td>@item.Fiyat</td>
                <td>@item.Miktar</td>
                <td>@item.Ucret</td>
            </tr>
        }
        
    </tbody>

</table>