@model IEnumerable<AnimeShop.Models.Sepet>

@{
    ViewData["Title"] = "Index";
    
    
}

<h2 class="container">@User.Identity.Name</h2>
<h3 class="container">Sepetim</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <td class="fw-bold">Ürün İsmi</td>
            <td class="fw-bold">Fiyatı</td>
            <td class="fw-bold">Miktarı</td>
            <td class="fw-bold">Toplam Fiyat</td>
        </tr>
    </thead>
    <tbody>
        @{
            double toplam = 0;
        }
        @foreach(var item in Model)
        {
            if(@item.ApplicationUser.UserName == @User.Identity.Name)
            {
                <tr>
                
                <td>@item.Urun.Ad</td>
                <td>@item.Fiyat TL</td>
                <td>@item.Miktar</td>
                <td>@item.Ucret TL</td>
                    @{
                        toplam += @item.Ucret;
                    }
                </tr>
            }
          
        }
        <tr>
            <td>Toplam Tutar : @toplam TL</td>
        </tr>
        
    </tbody>

</table>